.wrap {
  width: 100%;
  margin-top: 40px;
  h3 {
    width: 300px;
    margin: 30px auto;
    font-size: 40px;
  }
  .calculator {
    margin: 0 auto;
    width: 300px;
    height: 500px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 10px gray;
    padding-top: 10px;
    .screen {
      margin: 20px auto;
      width: 90%;
      height: 50px;
      background-color: #333333;
      border-radius: 2px;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 24px;
      border: 1px solid #ccc;
      color: rgb(233, 233, 233);
      font-size: 30px;
      line-height: 50px;
    }

    .buttons {
      padding: 30px 9px 5px 9px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 15px;
      grid-column-gap: 5px;

      button {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 3px rgb(136, 136, 136);
        border: none;
        padding: 18px 0;
        font-size: 18px;
      }
    }
  } //calculator
} //wrap
